flows_isoflux.json
[{"id":"9074a30a.6a51c","type":"tab","label":"IsoFlux"},{"id":"4b064c6.354c9b4","type":"subflow","name":"Configuration","info":"","in":[{"x":40,"y":320,"wires":[{"id":"53df42d9.f54224"}]}],"out":[{"x":1700,"y":320,"wires":[{"id":"950f0ca3.eacdd","port":0}]}]},{"id":"4dd1eb77.056a1c","type":"ui_group","z":"","name":"Labels","tab":"96830659.807498","order":1,"disp":true,"width":"6"},{"id":"a0180d61.835778","type":"ui_group","z":"","name":"Offsets","tab":"96830659.807498","order":2,"disp":true,"width":"6"},{"id":"96830659.807498","type":"ui_tab","z":"","name":"Konfiguration","icon":"dashboard","order":2},{"id":"2386ffc2.323cb","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"dabbf5a5.01b408","type":"ui_group","z":"","name":"Anzeigewerte","tab":"9262ebd0.8e0d88","order":2,"disp":false,"width":"30"},{"id":"ca2c90e8.d65e88","type":"ui_group","z":"","name":"Steuerung","tab":"9262ebd0.8e0d88","order":1,"disp":false,"width":"6"},{"id":"9262ebd0.8e0d88","type":"ui_tab","z":"","name":"IsoFlux Wärmebilanzkalorimeter","icon":"dashboard","order":1},{"id":"3ac7b66a.88f2da","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":24,"gx":6,"gy":6,"cx":4,"cy":2,"px":0,"py":0}}},{"id":"bf48f982.6afc","type":"function","z":"4b064c6.354c9b4","name":"Init Local Scope Properties","func":"if (msg.hasOwnProperty(\"error\")){\n    // No config file found. Use default values:\n    var labels = [\n        \"Vorlauf\",\n        \"Transformator\",\n        \"MOSFET HS\",\n        \"MOSFET LS\",\n        \"IGBT LS\",\n        \"IGBT HS\",\n        \"Gesamtleistung\",\n        \"Rücklauf\",\n        \"Massenstrom\"\n        ],\n        offsets = [0.0, 0.2, -1.2, 0.4, -0.7, 0.3];\n    flow.set(\"labels\", labels);\n    flow.set(\"offsets\", offsets);\n} else {\n    if (msg.payload.hasOwnProperty(\"labels\")){\n        flow.set(\"labels\", msg.payload.labels);\n    }\n    if (msg.payload.hasOwnProperty(\"offsets\")){\n        flow.set(\"offsets\", msg.payload.offsets);\n    }\n    if (msg.topic == \"update_offsets\"){\n        // \"Store Offsets button triggered\"\n        flow.set(\"offsets\", msg.payload);\n    }\n}\n\n// Return topic-only new message to trigger following actions\nreturn {topic: msg.topic};\n\n\n","outputs":"1","noerr":0,"x":500,"y":400,"wires":[["cf0ad5de.cf2e8","950f0ca3.eacdd","cf075f56.b96c08"]]},{"id":"cf0ad5de.cf2e8","type":"function","z":"4b064c6.354c9b4","name":"Get flow.labels","func":"var labels = flow.get(\"labels\"),\n    len = labels.length,\n    outputs = [];\nif (len != 9){\n    throw new RangeError(\"Exactly nine labels must be given\");\n}\nfor (var i = 0; i < len; i++){\n    outputs[i] = {payload: labels[i]};\n}\nreturn outputs;\n","outputs":"9","noerr":0,"x":746,"y":160,"wires":[["73856180.8f3ff"],["ce220b34.e6f868"],["b0f3344d.9056f8"],["64999210.892f84"],["5a750c3f.2961ec"],["efcfae61.f72078"],["f0121280.47ac28"],["22f98d35.808c72"],["e5f03fef.1b3888"]]},{"id":"ce220b34.e6f868","type":"ui_text_input","z":"4b064c6.354c9b4","name":"","label":"Heat Source 1 Channel Label","group":"4dd1eb77.056a1c","order":2,"width":"6","height":"2","passthru":false,"mode":"text","delay":"2000","topic":"labels/1","x":1036,"y":60,"wires":[["490bd17d.cd5398"]]},{"id":"b0f3344d.9056f8","type":"ui_text_input","z":"4b064c6.354c9b4","name":"","label":"Heat Source 2 Channel Label","group":"4dd1eb77.056a1c","order":3,"width":"6","height":"2","passthru":false,"mode":"text","delay":"2000","topic":"labels/2","x":1036,"y":100,"wires":[["490bd17d.cd5398"]]},{"id":"64999210.892f84","type":"ui_text_input","z":"4b064c6.354c9b4","name":"","label":"Heat Source 3 Channel Label","group":"4dd1eb77.056a1c","order":4,"width":"6","height":"2","passthru":false,"mode":"text","delay":"2000","topic":"labels/3","x":1036,"y":140,"wires":[["490bd17d.cd5398"]]},{"id":"5a750c3f.2961ec","type":"ui_text_input","z":"4b064c6.354c9b4","name":"","label":"Heat Source 4 Channel Label","group":"4dd1eb77.056a1c","order":5,"width":"6","height":"2","passthru":false,"mode":"text","delay":"2000","topic":"labels/4","x":1036,"y":180,"wires":[["490bd17d.cd5398"]]},{"id":"efcfae61.f72078","type":"ui_text_input","z":"4b064c6.354c9b4","name":"","label":"Heat Source 5 Channel Label","group":"4dd1eb77.056a1c","order":6,"width":"6","height":"2","passthru":false,"mode":"text","delay":"2000","topic":"labels/5","x":1036,"y":220,"wires":[["490bd17d.cd5398"]]},{"id":"73856180.8f3ff","type":"ui_text_input","z":"4b064c6.354c9b4","name":"","label":"Cold Inlet Channel Label","group":"4dd1eb77.056a1c","order":1,"width":"6","height":"2","passthru":false,"mode":"text","delay":"2000","topic":"labels/0","x":1036,"y":20,"wires":[["490bd17d.cd5398"]]},{"id":"490bd17d.cd5398","type":"function","z":"4b064c6.354c9b4","name":"Set flow.labels","func":"// Force utf-8 encoding\n// var iconv = global.get('iconv');\nvar i = parseInt(msg.topic.split(\"/\").pop()),\n    labels = flow.get(\"labels\");\nif (i < 0 || i > 8){\n    throw new RangeError(\"Index range is items 0...8\");\n}\n// msg.payload = iconv.decode(iconv.encode(msg.payload, 'ISO-8859-1'), 'ISO-8859-1');\nlabels[i] = msg.payload;\nflow.set(\"labels\", labels);\nreturn {topic: \"update_config\"};","outputs":1,"noerr":0,"x":1346,"y":160,"wires":[["950f0ca3.eacdd"]]},{"id":"950f0ca3.eacdd","type":"function","z":"4b064c6.354c9b4","name":"Route New/Updated Config Values","func":"route_output1 = msg.topic == \"read_config\";\nmsg.topic = \"config\";\nmsg.payload = {labels: flow.get(\"labels\"), offsets: flow.get(\"offsets\")};\nif (route_output1){\n    /* msg.topic == \"read_config\": Route to first output, send to\n     * main flow in order to initialise main config properties */\n    return [msg, null];\n} else {\n    // msg.topic == \"update_config\" or \"update_offsets\": Route to both outputs, write to file\n    return [msg, msg];\n}","outputs":"2","noerr":0,"x":1460,"y":400,"wires":[[],["38cd3306.25dec4"]]},{"id":"873b916b.8d187","type":"ui_text_input","z":"4b064c6.354c9b4","name":"","label":"Heat Source 1 Channel Offset","group":"a0180d61.835778","order":1,"width":"6","height":"2","passthru":false,"mode":"text","delay":"2000","topic":"offsets/1","x":1030,"y":520,"wires":[["6875034f.30ba8c"]]},{"id":"a24a9fb8.ae71b","type":"ui_text_input","z":"4b064c6.354c9b4","name":"","label":"Heat Source 2 Channel Offset","group":"a0180d61.835778","order":2,"width":"6","height":"2","passthru":false,"mode":"text","delay":"2000","topic":"offsets/2","x":1030,"y":560,"wires":[["6875034f.30ba8c"]]},{"id":"5feea3ab.800694","type":"ui_text_input","z":"4b064c6.354c9b4","name":"","label":"Heat Source 3 Channel Offset","group":"a0180d61.835778","order":3,"width":"6","height":"2","passthru":false,"mode":"text","delay":"2000","topic":"offsets/3","x":1030,"y":600,"wires":[["6875034f.30ba8c"]]},{"id":"a289dfbb.d833b8","type":"ui_text_input","z":"4b064c6.354c9b4","name":"","label":"Heat Source 4 Channel Offset","group":"a0180d61.835778","order":4,"width":"6","height":"2","passthru":false,"mode":"text","delay":"2000","topic":"offsets/4","x":1030,"y":640,"wires":[["6875034f.30ba8c"]]},{"id":"ac35d64c.f49e78","type":"ui_text_input","z":"4b064c6.354c9b4","name":"","label":"Heat Source 5 Channel Offset","group":"a0180d61.835778","order":5,"width":"6","height":"2","passthru":false,"mode":"text","delay":"2000","topic":"offsets/5","x":1030,"y":680,"wires":[["6875034f.30ba8c"]]},{"id":"6875034f.30ba8c","type":"function","z":"4b064c6.354c9b4","name":"Set flow.offsets","func":"var i = parseInt(msg.topic.split(\"/\").pop()),\n    offsets = flow.get(\"offsets\");\nif (i < 0 || i > 5){\n    throw new RangeError(\"Index range is items 0...5\");\n}\n\noffset = parseFloat(msg.payload);\nif (isNaN(offset)){\n    return [null, {topic: \"Warning!\", payload: \"This is not a valid number!\"}];\n} else {\n    offsets[i] = offset;\n    flow.set(\"offsets\", offsets);\n    return [{topic: \"update_config\"}, null];\n}","outputs":"2","noerr":0,"x":1340,"y":600,"wires":[["950f0ca3.eacdd"],["118e54f9.459edb"]]},{"id":"e5f03fef.1b3888","type":"ui_text_input","z":"4b064c6.354c9b4","name":"","label":"Flow Meter Label","group":"4dd1eb77.056a1c","order":8,"width":"6","height":"2","passthru":false,"mode":"text","delay":"2000","topic":"labels/8","x":1041,"y":343,"wires":[["490bd17d.cd5398"]]},{"id":"22f98d35.808c72","type":"ui_text_input","z":"4b064c6.354c9b4","name":"","label":"Return Temperature Label","group":"4dd1eb77.056a1c","order":7,"width":"6","height":"2","passthru":false,"mode":"text","delay":"2000","topic":"labels/7","x":1042,"y":300,"wires":[["490bd17d.cd5398"]]},{"id":"379536d7.0ae542","type":"file in","z":"4b064c6.354c9b4","name":"Read Config File","filename":"ifx1.red.config","format":"utf8","x":430,"y":100,"wires":[["2997157e.eac122"]]},{"id":"e7470f78.ad5198","type":"file","z":"4b064c6.354c9b4","name":"Write Config File","filename":"ifx1.red.config","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1630,"y":560,"wires":[]},{"id":"53df42d9.f54224","type":"switch","z":"4b064c6.354c9b4","name":"Switch Read/Update Config Action","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"read_config","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":180,"y":240,"wires":[["379536d7.0ae542"],["bf48f982.6afc"]]},{"id":"2997157e.eac122","type":"json","z":"4b064c6.354c9b4","name":"","x":470,"y":180,"wires":[["bf48f982.6afc"]]},{"id":"38cd3306.25dec4","type":"json","z":"4b064c6.354c9b4","name":"","x":1590,"y":480,"wires":[["e7470f78.ad5198"]]},{"id":"cf075f56.b96c08","type":"function","z":"4b064c6.354c9b4","name":"Get flow.offsets","func":"var offsets = flow.get(\"offsets\"),\n    len = offsets.length,\n    outputs = [];\nif (len != 6){\n    throw new RangeError(\"Exactly six offset values must be given\");\n}\n// Channel 0 has zero value and is unused\nfor (var i = 1; i < len; i++){\n    outputs[i-1] = {payload: offsets[i]};\n}\nreturn outputs;\n","outputs":"5","noerr":0,"x":740,"y":600,"wires":[["873b916b.8d187"],["a24a9fb8.ae71b"],["5feea3ab.800694"],["a289dfbb.d833b8"],["ac35d64c.f49e78"]]},{"id":"118e54f9.459edb","type":"ui_toast","z":"4b064c6.354c9b4","position":"top right","displayTime":"10","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Not a Number Warning","x":1620,"y":680,"wires":[]},{"id":"f0121280.47ac28","type":"ui_text_input","z":"4b064c6.354c9b4","name":"","label":"Total Power Label","group":"4dd1eb77.056a1c","order":7,"width":"6","height":"2","passthru":false,"mode":"text","delay":"2000","topic":"labels/6","x":1037,"y":255,"wires":[["490bd17d.cd5398"]]},{"id":"5f4d253d.648a9c","type":"mqtt in","z":"9074a30a.6a51c","name":"","topic":"ifx1/power","qos":"2","broker":"2386ffc2.323cb","x":120,"y":340,"wires":[["873eaccd.085818"]]},{"id":"add853d3.b84a3","type":"ui_gauge","z":"9074a30a.6a51c","name":"Gauge HS2","group":"dabbf5a5.01b408","order":2,"width":"5","height":"8","gtype":"gage","title":"<b>{{msg.topic}}</b>","label":"Watt","format":"{{value | number:1}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":280,"wires":[]},{"id":"ef8128d0.1b4ff","type":"ui_gauge","z":"9074a30a.6a51c","name":"Gauge HS3","group":"dabbf5a5.01b408","order":3,"width":"5","height":"8","gtype":"gage","title":"<b>{{msg.topic}}</b>","label":"Watt","format":"{{value | number:1}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":320,"wires":[]},{"id":"34f1c483.218dbc","type":"ui_gauge","z":"9074a30a.6a51c","name":"Gauge HS4","group":"dabbf5a5.01b408","order":4,"width":"5","height":"8","gtype":"gage","title":"<b>{{msg.topic}}</b>","label":"Watt","format":"{{value | number:1}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":360,"wires":[]},{"id":"3b9660c7.8b17d8","type":"ui_chart","z":"9074a30a.6a51c","name":"Zeitverlauf Wärmequellen","group":"dabbf5a5.01b408","order":6,"width":"25","height":"26","label":"Zeitverlauf Wärmequellen IsoFlux 1","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"No Data","ymin":"","ymax":"","removeOlder":"60","removeOlderPoints":"360","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#ff0000","#ff7f0e","#01cbc6","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":770,"y":560,"wires":[["7bb987e9.cb8ca"],[]]},{"id":"c763d021.408ee","type":"ui_gauge","z":"9074a30a.6a51c","name":"Gauge HS5","group":"dabbf5a5.01b408","order":5,"width":"5","height":"8","gtype":"gage","title":"<b>{{msg.topic}}</b>","label":"Watt","format":"{{value | number:1}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":400,"wires":[]},{"id":"38a0a651.1cd43a","type":"ui_button","z":"9074a30a.6a51c","name":"Tara HS1","group":"ca2c90e8.d65e88","order":9,"width":"1","height":"2","passthru":false,"label":"Tara","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":718,"y":1605,"wires":[["69264d41.62ebcc"]]},{"id":"817ebc8a.88cc08","type":"ui_button","z":"9074a30a.6a51c","name":"","group":"ca2c90e8.d65e88","order":1,"width":"3","height":"2","passthru":false,"label":"POWEROFF","color":"","bgcolor":"red","icon":"","payload":"POWER OFF. Confirm?","payloadType":"str","topic":"","x":130,"y":140,"wires":[["7eb1888c.f2b24"]]},{"id":"22968a88.a1fe0e","type":"mqtt out","z":"9074a30a.6a51c","name":"","topic":"ifx1/control/poweroff","qos":"","retain":"","broker":"2386ffc2.323cb","x":1040,"y":140,"wires":[]},{"id":"d8c3897f.f93bb8","type":"ui_gauge","z":"9074a30a.6a51c","name":"Gauge Flow","group":"dabbf5a5.01b408","order":8,"width":"5","height":"8","gtype":"gage","title":"<b>{{msg.topic}}</b>","label":"g/sec","format":"{{value | number:2}}","min":0,"max":"5","colors":["#ff0000","#00ff00","#00ff00"],"seg1":"1","seg2":"4","x":1070,"y":2200,"wires":[]},{"id":"754016da.e270d","type":"mqtt in","z":"9074a30a.6a51c","name":"","topic":"ifx1/flow","qos":"2","broker":"2386ffc2.323cb","x":110,"y":2200,"wires":[["e7988596.7aa788"]]},{"id":"dcff75c6.bd1df","type":"ui_gauge","z":"9074a30a.6a51c","name":"Gauge Return Temp","group":"dabbf5a5.01b408","order":9,"width":"5","height":"8","gtype":"gage","title":"<b>{{msg.topic}}</b>","label":"°C","format":"{{value | number:1}}","min":"10","max":"40","colors":["#0000ff","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1040,"y":2100,"wires":[]},{"id":"b5f74871.6dbe7","type":"ui_text","z":"9074a30a.6a51c","group":"ca2c90e8.d65e88","order":6,"width":"0","height":"0","name":"Cold Input Temp","label":"{{msg.topic}} Temp:","format":"{{msg.payload | number:2}} °C","layout":"row-spread","x":700,"y":1860,"wires":[]},{"id":"f6bc074c.0b8d7","type":"mqtt in","z":"9074a30a.6a51c","name":"","topic":"ifx1/temp","qos":"2","broker":"2386ffc2.323cb","x":120,"y":1960,"wires":[["de57f229.aa0c4"]]},{"id":"f8a59971.32c5d","type":"ui_text","z":"9074a30a.6a51c","group":"ca2c90e8.d65e88","order":7,"width":"0","height":"0","name":"HS1 Temp","label":"{{msg.topic}} Temp:","format":"{{msg.payload | number:2}} °C","layout":"row-spread","x":710,"y":1900,"wires":[]},{"id":"4e104da5.579fa4","type":"ui_text","z":"9074a30a.6a51c","group":"ca2c90e8.d65e88","order":10,"width":"0","height":"0","name":"HS2 Temp","label":"{{msg.topic}} Temp:","format":"{{msg.payload | number:2}} °C","layout":"row-spread","x":710,"y":1940,"wires":[]},{"id":"8d2ff3d7.9962e","type":"ui_text","z":"9074a30a.6a51c","group":"ca2c90e8.d65e88","order":13,"width":"0","height":"0","name":"HS3 Temp","label":"{{msg.topic}} Temp:","format":"{{msg.payload | number:2}} °C","layout":"row-spread","x":710,"y":1980,"wires":[]},{"id":"156f12fd.04838d","type":"ui_text","z":"9074a30a.6a51c","group":"ca2c90e8.d65e88","order":16,"width":"0","height":"0","name":"HS4 Temp","label":"{{msg.topic}} Temp:","format":"{{msg.payload | number:2}} °C","layout":"row-spread","x":710,"y":2020,"wires":[]},{"id":"63b75078.c4ff98","type":"ui_text","z":"9074a30a.6a51c","group":"ca2c90e8.d65e88","order":19,"width":"0","height":"0","name":"HS5 Temp","label":"{{msg.topic}} Temp:","format":"{{msg.payload | number:2}} °C","layout":"row-spread","x":710,"y":2060,"wires":[]},{"id":"ccea5373.55c1e8","type":"ui_button","z":"9074a30a.6a51c","name":"Tara HS2","group":"ca2c90e8.d65e88","order":12,"width":"1","height":"2","passthru":false,"label":"Tara","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":718,"y":1645,"wires":[["69264d41.62ebcc"]]},{"id":"aea4439a.9a6538","type":"mqtt in","z":"9074a30a.6a51c","name":"","topic":"ifx1/offset","qos":"2","broker":"2386ffc2.323cb","x":120,"y":1440,"wires":[["b4025b2d.ff3378","8d147606.00ffd"]]},{"id":"61df625.2e6689c","type":"ui_numeric","z":"9074a30a.6a51c","name":"HS1 Offset","label":"Offset:","group":"ca2c90e8.d65e88","order":8,"width":"5","height":"2","passthru":false,"topic":"ifx1/control/set_offsets/1","format":"{{value | number:2}} W","min":"-10","max":"10","step":"0.1","x":710,"y":1380,"wires":[["986a2a7c.266f2"]]},{"id":"986a2a7c.266f2","type":"mqtt out","z":"9074a30a.6a51c","name":"ifx1/control/set_offsets","topic":"","qos":"","retain":"","broker":"2386ffc2.323cb","x":1040,"y":1440,"wires":[]},{"id":"c3cbc55b.7424c8","type":"ui_numeric","z":"9074a30a.6a51c","name":"HS2 Offset","label":"Offset:","group":"ca2c90e8.d65e88","order":11,"width":"5","height":"2","passthru":false,"topic":"ifx1/control/set_offsest/2","format":"{{value | number:2}} W","min":"-10","max":"10","step":"0.1","x":710,"y":1420,"wires":[["986a2a7c.266f2"]]},{"id":"6711c077.e884a","type":"ui_numeric","z":"9074a30a.6a51c","name":"HS3 Offset","label":"Offset:","group":"ca2c90e8.d65e88","order":14,"width":"5","height":"2","passthru":false,"topic":"ifx1/control/set_offsets/3","format":"{{value | number:2}} W","min":"-10","max":"10","step":"0.1","x":710,"y":1460,"wires":[["986a2a7c.266f2"]]},{"id":"2c2f56d9.c5f1da","type":"ui_numeric","z":"9074a30a.6a51c","name":"HS4 Offset","label":"Offset:","group":"ca2c90e8.d65e88","order":17,"width":"5","height":"2","passthru":false,"topic":"ifx1/control/set_offsets/4","format":"{{value | number:2}} W","min":"-10","max":"10","step":"0.1","x":710,"y":1500,"wires":[["986a2a7c.266f2"]]},{"id":"ece7a0.6555386","type":"ui_numeric","z":"9074a30a.6a51c","name":"HS5 Offset","label":"Offset:","group":"ca2c90e8.d65e88","order":20,"width":"5","height":"2","passthru":false,"topic":"ifx1/control/set_offsets/5","format":"{{value | number:2}} W","min":"-10","max":"10","step":"0.1","x":710,"y":1540,"wires":[["986a2a7c.266f2"]]},{"id":"416f2b4f.95a9d4","type":"ui_button","z":"9074a30a.6a51c","name":"Tara HS3","group":"ca2c90e8.d65e88","order":15,"width":"1","height":"2","passthru":false,"label":"Tara","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"","x":718,"y":1685,"wires":[["69264d41.62ebcc"]]},{"id":"111e03cd.cf28fc","type":"ui_button","z":"9074a30a.6a51c","name":"Tara HS4","group":"ca2c90e8.d65e88","order":18,"width":"1","height":"2","passthru":false,"label":"Tara","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"num","topic":"","x":718,"y":1725,"wires":[["69264d41.62ebcc"]]},{"id":"66fa9d3c.aa1ddc","type":"ui_button","z":"9074a30a.6a51c","name":"Tara HS5","group":"ca2c90e8.d65e88","order":21,"width":"1","height":"2","passthru":false,"label":"Tara","color":"","bgcolor":"","icon":"","payload":"5","payloadType":"num","topic":"","x":718,"y":1765,"wires":[["69264d41.62ebcc"]]},{"id":"28cfe070.d75358","type":"ui_gauge","z":"9074a30a.6a51c","name":"Total Power","group":"dabbf5a5.01b408","order":7,"width":"5","height":"8","gtype":"gage","title":"<b>{{msg.topic}}</b>","label":"Watt","format":"{{value | number:1}}","min":0,"max":"200","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"","seg2":"","x":810,"y":440,"wires":[]},{"id":"69264d41.62ebcc","type":"mqtt out","z":"9074a30a.6a51c","name":"","topic":"ifx1/control/tare","qos":"","retain":"","broker":"2386ffc2.323cb","x":1060,"y":1680,"wires":[]},{"id":"f94460f7.3e376","type":"ui_button","z":"9074a30a.6a51c","name":"","group":"ca2c90e8.d65e88","order":2,"width":"3","height":"2","passthru":false,"label":"Backup and Clear","color":"","bgcolor":"orange","icon":"","payload":"","payloadType":"str","topic":"clear","x":150,"y":720,"wires":[["7bb987e9.cb8ca"]]},{"id":"eddc46fb.fe5da8","type":"ui_button","z":"9074a30a.6a51c","name":"","group":"ca2c90e8.d65e88","order":3,"width":"3","height":"2","passthru":false,"label":"Save Offsets","color":"black","bgcolor":"yellow","icon":"","payload":"offsets","payloadType":"flow","topic":"update_offsets","x":130,"y":100,"wires":[["a661315b.e6e1f"]]},{"id":"7bb987e9.cb8ca","type":"function","z":"9074a30a.6a51c","name":"Store Latest Chart and Measurement","func":"if (msg.topic === \"all_channels\") {\n    // Store latest measurement result on incoming msg from MQTT input\n    context.power = msg.payload;\n    return;\n} else if (msg.topic === \"clear\") {\n    // Save chart data to /tmp/chart.log and clear existing chart\n    msg.payload = context.chart;\n    return [{payload: []}, msg, null];\n} else if (msg.topic === \"set_comment\") {\n    context.comment = msg.payload;\n} else if (msg.topic === \"set_author\") {\n    context.author = msg.payload;\n} else if (msg.topic === \"log_to_report\") {\n    // Logging a report entry requested by clicking the form submit button\n    msg.payload = {\n        timestamp: Math.floor(Date.now()/1000),\n        comment: context.comment||\"\",\n        author: context.author||\"\",\n        labels: (flow.get(\"labels\")||[]).slice(1,7),\n        power: (context.power||[0]).slice(1),\n        chart: context.chart||[]\n    };\n    return [null, null, msg];\n} else {\n    // This is now supposed to be an incoming msg from the charting node output.\n    // We store this for later use.\n    context.chart = msg.payload;\n    return;\n}","outputs":"3","noerr":0,"x":570,"y":820,"wires":[["3b9660c7.8b17d8"],["b46c24fc.6f9af"],["35297030.d13e08"]]},{"id":"e45bd90.47aa028","type":"file","z":"9074a30a.6a51c","name":"","filename":"/tmp/chart.log","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1060,"y":680,"wires":[]},{"id":"a553d074.44ed7","type":"ui_button","z":"9074a30a.6a51c","name":"","group":"ca2c90e8.d65e88","order":4,"width":"3","height":"2","passthru":false,"label":"Restore Chart","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":680,"wires":[["507bd41e.331094"]]},{"id":"507bd41e.331094","type":"file in","z":"9074a30a.6a51c","name":"","filename":"/tmp/chart.log","format":"utf8","x":320,"y":680,"wires":[["6ed8aa7e.c56f64"]]},{"id":"6ed8aa7e.c56f64","type":"json","z":"9074a30a.6a51c","name":"","x":490,"y":680,"wires":[["3b9660c7.8b17d8"]]},{"id":"f046427f.317a28","type":"ui_gauge","z":"9074a30a.6a51c","name":"Gauge HS1","group":"dabbf5a5.01b408","order":1,"width":"5","height":"8","gtype":"gage","title":"<b>{{msg.topic}}</b>","label":"Watt","format":"{{value | number:1}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":240,"wires":[]},{"id":"4226ad04.104624","type":"inject","z":"9074a30a.6a51c","name":"Init","topic":"read_config","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":90,"y":20,"wires":[["92b1bfa7.a28948","a661315b.e6e1f"]]},{"id":"92b1bfa7.a28948","type":"ui_switch","z":"9074a30a.6a51c","name":"Live Updating ON/OFF","label":"<span style=\"color:green;\">Live Updating ON/OFF:</span>","group":"ca2c90e8.d65e88","order":5,"width":"6","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":350,"y":20,"wires":[["cdb3a0bb.66977"]]},{"id":"cdb3a0bb.66977","type":"change","z":"9074a30a.6a51c","name":"","rules":[{"t":"set","p":"live","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":20,"wires":[[]]},{"id":"f10f479.295fa38","type":"function","z":"9074a30a.6a51c","name":"Set Flow Properties","func":"flow.set(\"labels\", msg.payload.labels);\nflow.set(\"offsets\", msg.payload.offsets);\nreturn {topic: \"init_completed\"};","outputs":1,"noerr":0,"x":520,"y":80,"wires":[["a97a4c78.5958e"]]},{"id":"e7988596.7aa788","type":"function","z":"9074a30a.6a51c","name":"Route and Scale Range if flow.live","func":"if (flow.get(\"live\") === true){\n    msg.topic = flow.get(\"labels\")[8];\n    msg.payload = 1000*parseFloat(msg.payload);\n    return msg;\n} else {\n    // Stop updating\n    return;\n}","outputs":1,"noerr":0,"x":420,"y":2200,"wires":[["d8c3897f.f93bb8"]]},{"id":"8d147606.00ffd","type":"function","z":"9074a30a.6a51c","name":"Apply to flow.offsets","func":"if (flow.get(\"live\") === true){\n    offsets = JSON.parse(msg.payload);\n    flow.set(\"offsets\", offsets);\n}\nreturn;","outputs":"1","noerr":0,"x":400,"y":1380,"wires":[[]]},{"id":"7eb1888c.f2b24","type":"ui_toast","z":"9074a30a.6a51c","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"Cancel","cancel":"OK","topic":"ifx1/control/poweroff","name":"Confirm","x":300,"y":140,"wires":[["22968a88.a1fe0e"]]},{"id":"efd21ee1.04e608","type":"mqtt out","z":"9074a30a.6a51c","name":"ifx1/control/set_offsets/","topic":"","qos":"","retain":"","broker":"2386ffc2.323cb","x":1030,"y":80,"wires":[]},{"id":"a97a4c78.5958e","type":"function","z":"9074a30a.6a51c","name":"Publish flow.offsets ","func":"var topic = \"\",\n    messages = [],\n    offsets = flow.get(\"offsets\"),\n    len = offsets.length;\nfor (var i=0; i < len; i++){\n    topic = \"ifx1/control/set_offsets/\" + i.toString();\n    messages[i] = {topic: topic, payload: offsets[i]};\n}\nreturn [messages];","outputs":1,"noerr":0,"x":730,"y":80,"wires":[["efd21ee1.04e608"]]},{"id":"a661315b.e6e1f","type":"subflow:4b064c6.354c9b4","z":"9074a30a.6a51c","name":"Configuration","x":320,"y":80,"wires":[["f10f479.295fa38"]]},{"id":"b46c24fc.6f9af","type":"json","z":"9074a30a.6a51c","name":"","x":890,"y":680,"wires":[["e45bd90.47aa028"]]},{"id":"de57f229.aa0c4","type":"function","z":"9074a30a.6a51c","name":"Route JSON if flow.live","func":"if (flow.get(\"live\") === true){\n    var labels = flow.get(\"labels\"),\n        payload = JSON.parse(msg.payload),\n        messages = [],\n        len = payload.length;\n    for (var i=0; i<len; i++){\n        messages[i] = {topic: labels[i], payload: payload[i]};\n    }\n    return messages;\n} else {\n    // Stop updating\n    return;\n}","outputs":"6","noerr":0,"x":400,"y":1960,"wires":[["b5f74871.6dbe7"],["f8a59971.32c5d"],["4e104da5.579fa4"],["8d2ff3d7.9962e"],["156f12fd.04838d"],["63b75078.c4ff98","a9b67889.44e578"]]},{"id":"a9b67889.44e578","type":"change","z":"9074a30a.6a51c","name":"Label = flow.labels[7]","rules":[{"t":"set","p":"topic","pt":"msg","to":"labels[7]","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":2100,"wires":[["dcff75c6.bd1df"]]},{"id":"e5c0a160.30616","type":"function","z":"9074a30a.6a51c","name":"Route if flow.live","func":"if (flow.get(\"live\") === true){\n    var labels = flow.get(\"labels\"),\n        payload = msg.payload,\n        messages = [],\n        sum = 0.0,\n        len = payload.length;\n        \n    // Channel 0 has zero value and is unused\n    for (var i=1; i<len; i++){\n        sum += payload[i];\n        messages[i-1] = {topic: labels[i], payload: payload[i]};\n    }\n    \n    // This is a message containing the total power and the respective label\n    messages[5] = {topic: labels[6], payload: sum};\n    \n    // Last output sends an array of all power values plus the sum\n    payload.push(sum);\n    messages[6] = {topic: \"all_channels\", payload: payload};\n    \n    return messages;\n} else {\n    // Stop updating\n    return;\n}","outputs":"7","noerr":0,"x":500,"y":340,"wires":[["f046427f.317a28"],["add853d3.b84a3"],["ef8128d0.1b4ff"],["34f1c483.218dbc"],["c763d021.408ee"],["28cfe070.d75358"],["7bb987e9.cb8ca"]]},{"id":"b4025b2d.ff3378","type":"function","z":"9074a30a.6a51c","name":"Route JSON if flow.live","func":"if (flow.get(\"live\") === true){\n    var labels = flow.get(\"labels\"),\n        payload = JSON.parse(msg.payload),\n        messages = [],\n        len = payload.length;\n        \n    // Channel 0 has zero value and is unused\n    for (var i=1; i<len; i++){\n        messages[i-1] = {topic: labels[i], payload: payload[i]};\n    }\n    return messages;\n} else {\n    // Stop updating\n    return;\n}","outputs":"5","noerr":0,"x":400,"y":1460,"wires":[["61df625.2e6689c"],["c3cbc55b.7424c8"],["6711c077.e884a"],["2c2f56d9.c5f1da"],["ece7a0.6555386"]]},{"id":"7efc62ab.485ecc","type":"http in","z":"9074a30a.6a51c","name":"HTTP /download_report","url":"/download_report","method":"get","swaggerDoc":"","x":160,"y":1040,"wires":[["2184d6cb.a2aefa"]]},{"id":"369e010c.4162ee","type":"http response","z":"9074a30a.6a51c","name":"","x":1090,"y":1040,"wires":[]},{"id":"f167f3b7.66aa88","type":"file in","z":"9074a30a.6a51c","name":"","filename":"/tmp/ifx1.xlsx","format":"","x":950,"y":1040,"wires":[["369e010c.4162ee"]]},{"id":"301de875.49037","type":"python-function","z":"9074a30a.6a51c","name":"Python: Generate IsoFlux XLSX Report","func":"# -*- coding: utf-8 -*-\n\"\"\"\nIsoFlux MS-XLS Report Module\n\nUlrich Lukas 2017-06-16\n\"\"\"\nfrom datetime import datetime\nimport json\nimport xlsxwriter\n\n### Configuration: #############\nTITLE = \"IsoFlux Messdatenreport\"\nREPORT_SHEET_NAME = \"Messdatenprotokoll\"\nCHART_SHEET_NAME = \"Messung.{index:02d}\"\nTIME_PREFIX = \"Messung vom: \"\nREPORT_ROW_OFST = 4\nCHART_ROW_OFST = 41\nSTEP = 5\n################################\n\n# Read report data from IsoFlux JSON export\nwith open(\"/tmp/ifx1.report\") as f:\n    inp_report = json.loads(f.read())\n#inp_report = json.loads(msg[\"payload\"])\n\n\n\n# Create new Excel file:\n# wb = xlsxwriter.Workbook(TITLE + \" {}.xlsx\".format(start_string))\nwb = xlsxwriter.Workbook(\"/tmp/ifx1.xlsx\")\n\n# Define some cell formats:\nbold_16pt = wb.add_format({\n    \"bold\": True, \"font_color\": \"blue\", \"font_size\": 16, \"align\": \"left\"\n})\nbold_centered = wb.add_format({\n    \"bold\": True, \"align\": \"center\", \"valign\": \"vcenter\", \"text_wrap\": True\n})\ncomment_format = wb.add_format({\n    \"bold\": True, \"font_color\": \"green\", \"align\": \"left\"\n})\nnumber_format = wb.add_format({\"num_format\": \"0.0\"})\ndate_format = wb.add_format({\n    \"align\": \"left\", \"num_format\": \"yyyy-mm-dd  hh:mm\"\n})\n\n# Create first worksheet inside that file:\nws_1 = wb.add_worksheet(REPORT_SHEET_NAME)\n\n# Write report summary with comments to the first worksheet\nws_1.write(0, 0, TITLE, bold_16pt)\nws_1.set_row(0, height=20)\n\nfor index, record in enumerate(inp_report):\n    # Write to log records to report summary on first worksheet:\n    row = REPORT_ROW_OFST + index*STEP\n    record_timestamp = datetime.fromtimestamp(record[\"timestamp\"])\n    chart_name = CHART_SHEET_NAME.format(index=index)\n    \n    ws_1.merge_range(row, 0, row, 1, \"\")\n    ws_1.write_datetime(row, 0, record_timestamp, date_format)\n    ws_1.merge_range(row, 2, row, 3, record[\"author\"])\n    ws_1.merge_range(row, 4, row, 5, \"Diagramm:\".format(chart_name))\n    ws_1.write(row, 6, \"internal:'{}'!A1\".format(chart_name))\n    ws_1.write(row+1, 0, record[\"comment\"], comment_format)\n    labels = [\"{}\\n/W\".format(i) for i in record[\"labels\"]]\n    for i, label in enumerate(record[\"labels\"]):\n        ws_1.write(row+2, i, \"{}\\n/W\".format(label), bold_centered)\n        ws_1.set_column(i, i, width=len(label)+1)\n    ws_1.set_row(row+2, height=30)\n\n    ws_1.write_row(row+3, 0, record[\"power\"], number_format)\n    \n    \n    # Write record chart on a new individual worksheet:\n    ws_n = wb.add_worksheet(chart_name)\n    inp_chart = record[\"chart\"]\n\n    data_titles = [i[\"key\"] for i in inp_chart]\n    table_titles = [\"Zeit\\n/s\"] + [i+\"\\n/W\" for i in data_titles]\n\n    start_msec = inp_chart[0][\"values\"][0][0]\n    timescale = [int((i[0] - start_msec)/1000) for i in inp_chart[0][\"values\"]]\n    n_data_rows = len(timescale)\n    data_columns = [[j[1] for j in i[\"values\"]] for i in inp_chart]\n    n_data_cols = len(data_columns)\n\n    ws_n.write(0, 0, TITLE, bold_16pt)\n    ws_n.set_row(0, height=20)\n    ws_n.merge_range(1, 0, 1, 1, TIME_PREFIX)\n    ws_n.merge_range(1, 2, 1, 3, record_timestamp, date_format)\n    # Row A5... is data column titles:\n    row = CHART_ROW_OFST\n    ws_n.write_row(row, 0, table_titles, bold_centered)\n    ws_n.set_row(row, height=30)\n    # Column A6... is time:\n    ws_n.write_column(row+1, 0, timescale)\n    # Columns B6... is data:\n    for i, column in enumerate(data_columns, start=1):\n        ws_n.write_column(row+1, i, column, number_format)\n        ws_n.set_column(i, i, width=len(data_titles[i-1])+1)\n\n    # Create a new chart object:\n    chart = wb.add_chart({\"type\": \"scatter\", \"subtype\": \"straight\"})\n    chart.set_size({\"width\": 1024, \"height\": 768})\n    chart.set_legend({\"position\": \"top\"})\n\n    # Add data series to the chart, defining references\n    # to cell ranges containing the respective data:\n    for i in range(1, n_data_cols+1):\n        chart.add_series({\n            \"name\": [chart_name, row, i],\n            \"categories\": [chart_name, row+1, 0, row+n_data_rows, 0],\n            \"values\": [chart_name, row+1, i, row+n_data_rows, i],\n        })\n\n    # Add the chart object to the second worksheet:\n    ws_n.insert_chart(\"A3\", chart)\n\n# Close workbook, writing file to disk:\nwb.close()\n\nreturn {\"topic\": \"download_ready\"}","outputs":1,"x":720,"y":1100,"wires":[["35297030.d13e08"]]},{"id":"2184d6cb.a2aefa","type":"change","z":"9074a30a.6a51c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"gen_xlsx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1040,"wires":[["35297030.d13e08"]]},{"id":"35297030.d13e08","type":"function","z":"9074a30a.6a51c","name":"Manage Report Entries","func":"if (msg.topic === \"log_to_report\") {\n    // Array containing all log entries, representing the report data\n    if (! context.hasOwnProperty(\"report\")){\n        context.report = [msg.payload];\n    } else{\n        context.report.push(msg.payload);\n    }\n    msg.payload = JSON.stringify(context.report);\n    return [msg, null, null];\n} else if (msg.topic === \"delete_report\"){\n    if (msg.payload === \"OK\"){\n        context.report = [];\n    }\n} else if (msg.topic === \"download_ready\"){\n    // When the Python script has completed, the HTTP request is answered.\n    // The msg.payload property is a buffer read from file.\n    var tzoffset = (new Date()).getTimezoneOffset() * 60000; //offset in milliseconds\n    var localTime = (new Date(Date.now() - tzoffset)).toISOString().slice(0, -5).replace(/:/g, \"_\");\n    var filename = \"IsoFlux_Messdatenreport_\" + localTime + \".xlsx\";\n    msg.req = context.req;\n    msg.res = context.res;\n    msg.headers = {\"Content-Disposition\": \"attachment; filename=\" + filename};\n    return [null, msg, null];\n} else if (msg.topic === \"gen_xlsx\"){\n    // This handles incoming HTTP GET requests.\n    // Python function node reads /tmp/ifx1.report and generates /tmp/ifx1.xlsx.\n    msg.payload = \"\";\n    context.req = msg.req;\n    context.res = msg.res;\n    return [null, null, msg];\n}","outputs":"3","noerr":0,"x":670,"y":1040,"wires":[["28d84ebc.b51d12"],["f167f3b7.66aa88"],["301de875.49037"]]},{"id":"28d84ebc.b51d12","type":"file","z":"9074a30a.6a51c","name":"","filename":"/tmp/ifx1.report","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1060,"y":1000,"wires":[]},{"id":"cd32db38.6b47","type":"function","z":"9074a30a.6a51c","name":"Route if flow.live","func":"if (flow.get(\"live\") === true){\n    var labels = flow.get(\"labels\"),\n        payload = msg.payload,\n        messages = [],\n        sum = 0.0,\n        len = payload.length;\n        \n    // Channel 0 has zero value and is unused\n    for (var i=1; i<len; i++){\n        sum += payload[i];\n        messages[i-1] = {topic: labels[i], payload: payload[i]};\n    }\n    \n    // This is a message containing the total power and the respective label\n    // messages[5] = {topic: labels[6], payload: sum};\n    \n    // Emit all messages at once via the single output node:\n    return [messages];\n} else {\n    // Stop updating\n    return;\n}","outputs":"1","noerr":0,"x":400,"y":500,"wires":[["3b9660c7.8b17d8"]]},{"id":"873eaccd.085818","type":"json","z":"9074a30a.6a51c","name":"","x":270,"y":340,"wires":[["e5c0a160.30616","15279592.6956ba"]]},{"id":"15279592.6956ba","type":"delay","z":"9074a30a.6a51c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":200,"y":500,"wires":[["cd32db38.6b47"]]},{"id":"338f0398.4cf9cc","type":"ui_button","z":"9074a30a.6a51c","name":"","group":"ca2c90e8.d65e88","order":26,"width":"3","height":"2","passthru":false,"label":"Delete Report","color":"","bgcolor":"red","icon":"","payload":"Gesamtes Protokoll löschen?","payloadType":"str","topic":"delete_report","x":140,"y":1100,"wires":[["bb8a608f.d33dc8"]]},{"id":"e96c1191.08dec","type":"ui_button","z":"9074a30a.6a51c","name":"Log to Report","group":"ca2c90e8.d65e88","order":24,"width":"6","height":"2","passthru":false,"label":"Protokolleintrag Hinzufügen","color":"","bgcolor":"green","icon":"","payload":"Protokolleintrag Hinzugefügt","payloadType":"str","topic":"log_to_report","x":140,"y":960,"wires":[["7bb987e9.cb8ca","553807cc.2ac25"]]},{"id":"f935dfe9.be2af","type":"ui_template","z":"9074a30a.6a51c","group":"ca2c90e8.d65e88","name":"HTTP GET Link: Download XLSX Report","order":25,"width":"6","height":"2","format":"<a style=\"background-color:yellow; text-align:center;\" href=\"/download_report\">Download XLS Report</a>\n","storeOutMessages":true,"fwdInMessages":true,"x":220,"y":1000,"wires":[[]]},{"id":"581da6a9.246b18","type":"ui_text_input","z":"9074a30a.6a51c","name":"Set Comment","label":"Kommentar","group":"ca2c90e8.d65e88","order":22,"width":"6","height":"2","passthru":true,"mode":"text","delay":300,"topic":"set_comment","x":140,"y":880,"wires":[["7bb987e9.cb8ca"]]},{"id":"5afd8381.bb7e84","type":"ui_text_input","z":"9074a30a.6a51c","name":"Set Author","label":"Autor","group":"ca2c90e8.d65e88","order":23,"width":"6","height":"2","passthru":true,"mode":"text","delay":300,"topic":"set_author","x":130,"y":920,"wires":[["7bb987e9.cb8ca"]]},{"id":"553807cc.2ac25","type":"ui_toast","z":"9074a30a.6a51c","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":390,"y":960,"wires":[]},{"id":"bb8a608f.d33dc8","type":"ui_toast","z":"9074a30a.6a51c","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"Cancel","cancel":"OK","topic":"delete_report","name":"Confirm","x":340,"y":1100,"wires":[["35297030.d13e08"]]}]
